<footer id="mainFooter">
    <form action= "server.php">
    <hr>
            <p> Subscribe to our Newsletter</p>
            
            <p>Enter your email address to subscribe to this blog and receive new recipes by email.</p><br>
            <input type="text" name="firstname" value="" placeholder="Your Name"><br> <br>
            <input type="text" name="email" value="" placeholder="Your email address"><br>
            <br><br>
            <input type="submit" value="Subscribe">
        
    </form>
    </footer>