<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-transparent ">
  <a class="navbar-brand" href="#" style="color: aliceblue; font-size: x-large;">𝓜𝓮𝓪𝓵 𝓡𝓮𝓬𝓲𝓹𝓮
  </a>
</nav>

<h1 class="display-1 font-weight-bold" style="color: rgb(250, 244, 242); padding-top: 80px;">
  𝗖𝗼𝗼𝗸𝗶𝗻𝗴 𝗻𝗲𝘃𝗲𝗿 𝗴𝗼𝘁 𝗮𝗻𝘆 𝗲𝗮𝘀𝗶𝗲𝗿
</h1>
<h4 class="font-weight-bold" style="color: rgb(250, 244, 242); padding-right: 30px;">
  𝐁𝐫𝐨𝐰𝐬𝐞 𝐓𝐡𝐫𝐨𝐮𝐠𝐡 𝐨𝐯𝐞𝐫 𝟏𝟎𝟎.𝟎𝟎𝟎 𝐓𝐚𝐬𝐭𝐲 𝐑𝐞𝐜𝐢𝐩𝐞𝐬.
</h4>
<header class="masthead mb-15">
  <div class="container h-100">
    <h1 class="font-weight-bold" style="font-style: oblique; color: rgb(250, 244, 242);">
      𝗛𝗮𝘃𝗲 𝘀𝗼𝗺𝗲 𝗶𝗻𝗴𝗿𝗲𝗱𝗶𝗲𝗻𝘁𝘀 𝗮𝘁 𝗵𝗼𝗺𝗲, 𝗯𝘂𝘁 𝘆𝗼𝘂 𝗱𝗼𝗻'𝘁 𝗸𝗻𝗼𝘄 𝘄𝗵𝗮𝘁 𝘁𝗼
      𝗽𝗿𝗲𝗽𝗮𝗿𝗲?
    </h1>
    <h1 class="font-weight-bold" style="font-style: oblique; color: rgb(250, 244, 242);">
      𝗧𝗵𝗲𝗻, 𝘆𝗼𝘂 𝗮𝗿𝗲 𝗮𝘁 𝗿𝗶𝗴𝗵𝘁 𝗽𝗹𝗮𝗰𝗲!
    </h1>
    <div class="col-lg-12 my-auto">
      <div class="app-text" style="background-color: rgba(130, 138, 117, 0.6); margin: 50px;">
        <form action="server.php">
          <br />
          <div class="card-content" style="text-align: center;">
            𝗣𝗹𝗲𝗮𝘀𝗲 𝗲𝗻𝘁𝗲𝗿 𝘆𝗼𝘂𝗿 𝗶𝗻𝗴𝗿𝗲𝗱𝗶𝗲𝗻𝘁𝘀!
          </div>
          <app-ingredient-component></app-ingredient-component>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</header>